@import "~bootstrap";
@import 'components/first_view_page';
@import 'components/second_view_page';
@import 'components/alert';

body {
    margin: 0;
    background: #EDEDEE;
}

.wrapper {
    min-height: 100vh;
}

.header {
    color: white;
    background: #21226F;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

main {
    padding-top: 25px;
}

.insignia {
    height: 50px;
    width: auto;
}

.first-view-page,
.second-view-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.js-page {
    display: none;
}

.js-current_page {
    display: flex;
}

.icon-link {
    flex-basis: 25%;
    text-align: center;
    border: none;
    background-color: transparent;
    &:focus {
        outline: none;
    }
    &:hover {
        text-decoration: underline;
    }
}
