.corp-alert {
    display: none;
    &.active {
        display: block;
    }
}


.alert__background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    opacity: 0.82;
    background: #000;
}

.alert__window {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 55px 15px 15px;
    background: #F5F5F5;
    z-index: 200;
    max-height: 60vh;
    overflow: auto;
    @media (min-width: 576px) {
        width: 600px;
        top: 50%;
        left: 50%;
        bottom: auto;
        transform: translate(-50%, -50%);
        border-radius: 20px 20px 15px 15px;
    }
}


.alert__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    text-align: center;
    font-size: 22px;
    line-height: 2.2;

    color: #FFF;
    background: #21226F;
    @media (min-width: 576px) {
        font-size: 25px;
        border-radius: 15px 15px 0 0;
    }
}

.alert__text {
    margin: 15px 0 30px;
    font-size: 16px;
    text-align: center;
    @media (min-width: 576px) {
        font-size: 18px;
    }
}

.alert__button {
    display: block;
    min-width: 100px;
    padding: 0 15px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 16px;

    border: 3px solid #21226F;
    text-transform: uppercase;
    &:active {
        background: #CECECF;
    }
}
