// ICONS

.icon {
    margin: 30px auto 0;
    width: 143px;
    height: 142px;
    background-image: url('../../public/static/img/icon-sprite.png');
    background-repeat: no-repeat;
    background-size: 428%;
    cursor: pointer;
    &.two {
        background-position: -153px 0; /* вверх на 16px */
    }
    &.three {
        background-position: -306px 0; /* по умолчанию */
    }
    &.four {
        background-position: -459px 0; /* вверх на 32px */
    }
    &.a {
        background-position: 0 -153px; /* по умолчанию */
    }
    &.b {
        background-position: -153px -153px; /* по умолчанию */
    }
    &.c {
        background-position: -306px -153px; /* по умолчанию */
    }
    &.d {
        background-position: -459px -153px; /* по умолчанию */
    }
}

.icon__text {
    text-align: center;
}
