// ICONS

.icon {
    margin: 15px auto 0;
    width: 64px;
    height: 64px;
    //background-image: url('../../public/static/img/icon-sprite.png');
    background-color: #ddd;
    background-repeat: no-repeat;
    background-size: 428%;
    cursor: pointer;
    border-radius: 15px;
    @media (min-width: 992px) {
        margin: 20px auto 0;
        width: 96px;
        height: 96px;
    }

    &.two {
        background-position: -153px 0; /* вверх на 16px */
    }
    &.three {
        background-position: -306px 0; /* по умолчанию */
    }
    &.four {
        background-position: -459px 0; /* вверх на 32px */
    }
    &.a {
        background-position: 0 -153px; /* по умолчанию */
    }
    &.b {
        background-position: -153px -153px; /* по умолчанию */
    }
    &.c {
        background-position: -306px -153px; /* по умолчанию */
    }
    &.d {
        background-position: -459px -153px; /* по умолчанию */
    }
}

.icon__text {
    text-align: center;
}
