// second-view-page

.second-view-page {

}

.links-side {
    display: flex;
    flex-wrap: wrap;
    .icon-link {
        flex-basis: 25%;
        @media (min-width: 768px) {
            flex-basis: 33%;
        }
    }
}

.some-text {
    margin-top: 15px;
}
